{% extends 'webfront_base.html'%} 
{% load static %}
{% block title %}Search Maid{% endblock %}



{% block navbar %}
  <li class="nav-item "><a class="nav-link" href="{% url 'index' %}">Home</a></li>
  <li class="nav-item active"><a class="nav-link" href="{% url 'searchmaid' %}">Search Maid</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'shortlisted' %}">Shortlisted</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'contactus' %}">Enquiry</a></li>
{% endblock %}



{% block content %}
<article class ="searchmaid-body">
    <section>
      <div class="header-jumbotron">
        <h4 class="header-jumbotron-text">Search Maids</h4>
      </div>
    </section>

    <section>
      <div class="row bio-container" style="color:#737373;">
        <!--<div class="col-md-1"></div>-->
        <div class="col-md-3 padding-left">
          <form method='GET' action='{% url 'searchmaid'%}'>
          <h5><b>Filter</b></h5>
          <div class="filter">
            <select id="inputState" name="nationality" class="form-control filter-dropdown-box">
              <option selected value="none">Nationality</option>
              <option>Filipino</option>
              <option>Indonesian</option>
              <option>Indian</option>
              <option>Myanmarese</option>
              <option>Others</option>
              <option value="none">No Preference</option>
            </select>
          </div>

          <div class="filter">
            <select id="inputState" name="type_of_maid" class="form-control filter-dropdown-box">
              <option selected value="none">Type of Maid</option>
              <option>New</option>
              <option>Transfer</option>
              <option>Experience</option>
              <option value="none">No Preference</option>
            </select>
          </div>

          <div class="filter">
            <select id="inputState"  name="main_responsibility" class="form-control filter-dropdown-box">
              <option selected value="none">Main Responsibility</option>
              <option>Cooking</option>
              <option>Care for Children</option>
              <option>Care for Elderly</option>
              <option>Care for Disabled</option>
              <option>General Housework</option>
              <option value="none">No Preference</option>
            </select>
          </div>

          <div class="filter">
            <select id="inputState" name="language_ability" class="form-control filter-dropdown-box">
              <option selected value="none">Language Ability</option>
              <option>English</option>
              <option>Mandarin/ Chinese Dialect</option>
              <option>Bahasa indonesia</option>
              <option>Hindi/ Tamil</option>
              <option>Burmese</option>
              <option value="none">No Preference</option>
            </select>
          </div>

          <div class="filter">
            <select id="inputState" name="marital_status" class="form-control filter-dropdown-box">
              <option selected value="none">Marital Status</option>
              <option>Single</option>
              <option>Married</option>
              <option>Widowed</option>
              <option>Divorced/ Tamil</option>
              <option value="none">No Preference</option>
            </select>
          </div>

          <div class="filter">
            <select id="inputState" name="age" class="form-control filter-dropdown-box">
              <option selected value="none">Age</option>
              <option>23 to 25</option>
              <option>26 to 30</option>
              <option>31 to 35</option>
              <option>36 to 40</option>
              <option>41 to 50</option>
              <option value="none">No Preference</option>
            </select>
          </div>
          <button type="submit" class="filter-btn">Search</button>
        </form>
        </div>
        

      <div class="col-md-8 maid-bio">
        <div class="row">
        <!--am i putting it at the right place-->

        {%for maid in searchmaid %}
    
        <div class="card mb-3 ml-3 mr-3" style="width: 15rem">
              <img src="{{maid.maid_photo.url}}" class="card-img-top" alt="Card image cap">
              <ul class="list-group list-group-flush card-deck-margin ">
                <li class="list-group-item name-and-country">
                  <h5 class="card-title maid-name">{{maid.name}}</h5>
                  <p class="card-text">{{maid.nationality}}</p>
                </li>
                
                <li class="list-group-item age-marital-status">
                  <div class="row">
                    <div class="col">
                      <p class ="small-label">Age</p>
                      <p>{{maid.age}} Yrs old</p>
                    </div>
                    <div class="col">
                      <p class= "small-label" >Marital Status</p>
                      <p>{{maid.marital_status}}</p>
                    </div>
                  </div>
                </li>
                
                <li class="list-group-item maid-type">
                  <p class ="small-label">Type of maid</p>
                  <p>{{maid.type_of_maid}}</p>
                </li>
                
                <li class="list-group-item agency-name">
                  <p class= "small-label">Agency</p>
                  <p>{{maid.agency_name}}</p>
                </li>
              </ul>
              {% if user.is_authenticated  %}
                {% if user.role == "Employer"  %}
                  <a href="{% url 'add_to_shortlisted_cart' maid_id=maid.id %}" <button type="button" class="btn bio-btn">Shortlisted</button></a>
                {% endif %}
              {% else %}
              <a href="{% url 'login_required' %}" <button type="button" class="btn bio-btn">Shortlisted</button></a>
              {% endif %}
            </div>
    
        {%endfor%}
        </div>
      </div>
      </div>
    </section>
</article>   
{% endblock %}


</html>