{% extends 'webfront_base.html'%} 
{% load static %}
{% block title %}Shortlisted{% endblock %}



{% block navbar %}
  <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'searchmaid' %}">Search Maid</a></li>
  <li class="nav-item active"><a class="nav-link" href="{% url 'shortlisted' %}">Shortlisted</a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'contactus' %}">Enquiry</a></li>
{% endblock %}



{% block content %}
<article class="enquiry-body">
<section>
  <div class="header-jumbotron">
    <h4 class="header-jumbotron-text">Shortlisted</h4>
  </div>
</section>



<section>
<div class='row'>
 		{% for shortlisted_maid in shortlisted_maids %}
    
   <div class="card mb-3 ml-3 mr-3" style="width: 15rem">
              <img src="{{shortlisted_maid.maid.maid_photo.url}}" class="card-img-top" alt="Card image cap">
              <ul class="list-group list-group-flush card-deck-margin ">
                <li class="list-group-item name-and-country">
                  <h5 class="card-title maid-name">{{shortlisted_maid.maid.name}}</h5>
                  <p class="card-text">{{sm.natonality}}</p>
                </li>
                
                <li class="list-group-item age-marital-status">
                  <div class="row">
                    <div class="col">
                      <p class ="small-label">Age</p>
                      <p>{{shortlisted_maid.maid.age}} Yrs old</p>
                    </div>
                    <div class="col">
                      <p class= "small-label" >Marital Status</p>
                      <p>{{shortlisted_maid.maid.marital_status}}</p>
                    </div>
                  </div>
                </li>
                
                <li class="list-group-item maid-type">
                  <p class ="small-label">Type of maid</p>
                  <p>{{shortlisted_maid.maid.type_of_maid}}</p>
                </li>
                
                <li class="list-group-item agency-name">
                  <p class= "small-label">Agency</p>
                  <p>{{shortlisted_maid.maid.agency_name}}</p>
                </li>
              </ul>
              <div style='text-align:center'>
              	<a href="{% url 'remove_from_shortlisted_cart' shortlisted_cart_item_id=shortlisted_maid.id %}">Remove</a>
              </div>
           
            </div>
    {% endfor %}
 		
 	</div>	
</section>

<section>
 <div class="container enquiry-body">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 m-auto">
			<div class="contact-form">
				<h3 class="section-header">SHORTLISTED LIST</h3>
				<p class="hint-text">Thanks for your enquiry. We shall revert soon.</p>
				<form method="POST">
				{% csrf_token %}
				{% if user.is_authenticated %}
					{% if user.role == "Employer" %}
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputFirstName" class="particular">Name</label>
								<input type="text" class="form-control" name="inputFirstName" required value="{{ employer.name }}">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputLastName" class="particular">Phone Number</label>
								<input type="text" class="form-control" name="inputLastName" required value="{{ employer.handphone_no }}">
							</div>
						</div>
					</div>            
					<div class="form-group">
						<label for="inputEmail" class="particular">Email Address</label>
						<input type="email" class="form-control" name="inputEmail" required value="{{ user.email }}">
					</div>
					{% else %}
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputFirstName" class="particular">Name</label>
								<input type="text" class="form-control" name="inputFirstName" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputLastName" class="particular">Phone Number</label>
								<input type="text" class="form-control" name="inputLastName" required>
							</div>
						</div>
					</div>            
					<div class="form-group">
						<label for="inputEmail" class="particular">Email Address</label>
						<input type="email" class="form-control" name="inputEmail" required>
					</div>
					{% endif %}
					{% else %}
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputFirstName" class="particular">Name</label>
								<input type="text" class="form-control" name="input_name" required>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="inputLastName" class="particular">Phone Number</label>
								<input type="text" class="form-control" name="input_phonenumber" required>
							</div>
						</div>
					</div>            
					<div class="form-group">
						<label for="inputEmail" class="particular">Email Address</label>
						<input type="email" class="form-control" name="input_email" required>
					</div>
				{% endif %}
					<div class="form-group">
						<label for="inputMessage" class="particular">Message</label>
						<textarea class="form-control" name="input_message" rows="5" required></textarea>
					</div>
					<input type="submit" class="btn btn-bio" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div> 
</section>
</article>
{% endblock %}